<html>
<head>
<link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>

<% yellow = "yellow" %>

<div id="container">

  <div id = "bottom">

    <div id="face0" style="background-color:<%= yellow %>">
    </div>
    <div id="face1" style="background-color:yellow">
    </div>
    <div id="face2" style="background-color:yellow">
    </div>
    <div id="face3" style="background-color:yellow">
    </div>
    <div id="face4" style="background-color:yellow">
    </div>
    <div id="face5" style="background-color:yellow">
    </div>
    <div id="face6" style="background-color:yellow">
    </div>
    <div id="face7" style="background-color:yellow">
    </div>
    <div id="face8" style="background-color:yellow">
    </div>

  </div>

  <div id = "front">
    <div id="face0" style="background-color:green">
    </div>
    <div id="face1" style="background-color:green">
    </div>
    <div id="face2" style="background-color:green">
    </div>
    <div id="face3" style="background-color:green">
    </div>
    <div id="face4" style="background-color:green">
    </div>
    <div id="face5" style="background-color:green">
    </div>
    <div id="face6" style="background-color:green">
    </div>
    <div id="face7" style="background-color:green">
    </div>
    <div id="face8" style="background-color:green">
    </div>
 </div>

  <div id = "top">
    <div id="face0" style="background-color:gray">
    </div>
    <div id="face1" style="background-color:gray">
    </div>
    <div id="face2" style="background-color:gray">
    </div>
    <div id="face3" style="background-color:gray">
    </div>
    <div id="face4" style="background-color:gray">
    </div>
    <div id="face5" style="background-color:gray">
    </div>
    <div id="face6" style="background-color:gray">
    </div>
    <div id="face7" style="background-color:gray">
    </div>
    <div id="face8" style="background-color:gray">
    </div>
  </div>

  <div id = "back">
    <div id="face0" style="background-color:blue">
    </div>
    <div id="face1" style="background-color:blue">
    </div>
    <div id="face2" style="background-color:blue">
    </div>
    <div id="face3" style="background-color:blue">
    </div>
    <div id="face4" style="background-color:blue">
    </div>
    <div id="face5" style="background-color:blue">
    </div>
    <div id="face6" style="background-color:blue">
    </div>
    <div id="face7" style="background-color:blue">
    </div>
    <div id="face8" style="background-color:blue">
    </div>
  </div>

  <div id = "left">
    <div id="face0" style="background-color:red">
    </div>
    <div id="face1" style="background-color:red">
    </div>
    <div id="face2" style="background-color:red">
    </div>
    <div id="face3" style="background-color:red">
    </div>
    <div id="face4" style="background-color:red">
    </div>
    <div id="face5" style="background-color:red">
    </div>
    <div id="face6" style="background-color:red">
    </div>
    <div id="face7" style="background-color:red">
    </div>
    <div id="face8" style="background-color:red">
    </div></div>

  <div id = "right">
    <div id="face0" style="background-color:orange">
    </div>
    <div id="face1" style="background-color:orange">
    </div>
    <div id="face2" style="background-color:orange">
    </div>
    <div id="face3" style="background-color:orange">
    </div>
    <div id="face4" style="background-color:orange">
    </div>
    <div id="face5" style="background-color:orange">
    </div>
    <div id="face6" style="background-color:orange">
    </div>
    <div id="face7" style="background-color:orange">
    </div>
    <div id="face8" style="background-color:orange">
    </div>
  </div>

</div>




</body>
